.nota-edit {

}

.nota-edit__remove-button-container {
  text-align: end;
}

.nota-edit__remove-button {
  padding: 5;
  background: none;
  outline: none;
  border: none;
  font-size: 1.5rem;
}

.nota-edit__details-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.nota-edit__label {
  font-weight: bold;
}

.nota-edit__input {
  border: 1px solid black;
  border-radius: 5px;
  font-size: inherit;
  padding: 5px 10px;
  outline: none;
  width: 95%;
}

textarea.nota-edit__input {
  resize: none;
  height: 200px;
}

/*@media (max-width: 1000px) {
  .nota-edit__details-grid {
    grid-template-columns: 1fr;
  }
}*/